<title>TeamSync - Membri del team</title>
{{> headerDashboard}}

<div class="table-container">
    {{#if message}}
    <div class="alert alert-info">
        {{message}}
    </div>
    {{else}}
    <h2 class="section-title">Team: {{nomeTeam}}</h2>
    <table class="data-table">
        <thead>
            <tr>
                <th>Utente</th>
                <th>Email</th>
                <th>Ruolo</th>
            </tr>
        </thead>
        <tbody>
            {{#if utenti.length}}
            {{#each utenti}}
            <tr class="user-row" data-role="{{this.ruolo}}">
                <td>
                    <div class="user-info">
                        <div class="owner-avatar">{{this.nome.[0]}}{{this.cognome.[0]}}</div>
                        <span class="user-fullname">{{this.nome}} {{this.cognome}}</span>
                    </div>
                </td>
                <td class="user-email">{{this.email}}</td>
                <td>
                    {{#if (eq this.ruolo 'admin')}}
                    <span class="badge badge-admin">Admin</span>
                    {{else}}
                    <span class="badge badge-user">User</span>
                    {{/if}}
                </td>
            </tr>
            {{/each}}
            {{else}}
            <tr>
                <td colspan="3" class="text-center">Nessun membro nel team</td>
            </tr>
            {{/if}}
        </tbody>
    </table>
    {{/if}}
</div>
<script type="module" src="/js/auth.js"></script>
{{> footer}}